body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #e8e8e8; /* Grey background for entire page content */
  font-family: Arial, sans-serif; /* Professional font */
}

.sidebar {
  text-align: center;
  width: 100px; /* Narrower sidebar */
  background-color: #333; /* Retain dark grey sidebar */
  padding: 20px;
  height: 100vh;
  position: fixed;
}

.header-text {
  text-align: left;
  background-color: transparent; /* Transparent or same as body to blend in */
  color: black; /* Text color changed to black for visibility */
  font-size: 24px;
  padding-left: 120px; /* Additional padding to align with the main content */
  position: fixed; /* Make header fixed like sidebar */
  width: calc(100% - 100px); /* Adjust width to account for sidebar */
  top: 0;
  left: 100px;
}

.main-content {
  margin-left: 120px; /* Align with narrower sidebar */
  padding: 20px 40px; /* Add padding to both left and right sides */
  background-color: transparent; /* Transparent or same as body to blend in */
  color: black; /* Default text color */
  min-height: calc(
    100vh - 40px
  ); /* Adjust height to fill viewport minus header */
  box-shadow: none; /* Remove box shadow if not needed */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.sidebar li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

.sidebar li a:hover {
  background-color: #555; /* Hover effect */
}

.well-abstract {
  background-color: #e8e8e8; /* Light grey background for abstract */
}

.img-responsive {
  max-width: 300px; /* Increase the maximum width of the image */
  height: auto; /* Maintain the aspect ratio */
  margin-bottom: 20px; /* Space below the image */
}
